flake8==3.8.1
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0

#Deps Pytest
attrs==19.3.0
py==1.10.0
more-itertools==8.3.0
pyparsing==2.4.7
pluggy==0.13.1
pytest==5.4.2
six==1.14.0
wcwidth==0.1.9
packaging==20.3

#coverage
pytest-cov==2.8.1
coverage==5.1

-r requirements.txt






